{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="text-muted">
                <p>Опубликовано: {{ post.published_date }}</p>
            </div>
            <div class="myclass text-left">
                <p>{{ post.text|linebreaksbr }}
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-fluid rounded mx-auto d-block "></p>
                    {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
